.container-loading img {
    height: 70vh;
}

@media screen and (max-width: 1200px) {
    .container-loading img {
        height: 60vh;
    }
}

@media screen and (max-width: 852px) {
    .container-loading img {
        height: 38vh;
    }
}
