<div class="newsletter-popup" *ngIf="isOpen">
	<div class="newsletter-content">
		<div class="menu-btn-icon">
			<span (click)="closePopup()" class=""></span>
			<span (click)="closePopup()" class=""></span>
		</div>

		<div class="container-newsletter">
			<div class="newsletter-title">
				<h1>NEWSLETTER</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna
					aliqua.
				</p>
			</div>
			<div class="newsletter-form">
				<form>
					<div class="form-group">
						<input
							type="email"
							class="form-control"
							id="email"
							placeholder="xxx@xxx.com"
							name="email"
							required />
					</div>
					<div class="form-group">
						<button type="submit" class="btn">ENVIAR</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
