.logo {
	position: fixed;
	top: 7.5rem;
	left: 5.2rem;
	z-index: 9;
	cursor: pointer;
}

@media screen and (max-width: 1023px) {
	.logo {
		top: 6rem;
		left: 4.2rem;
	}

	.logo svg {
		width: 12rem;
	}
}

@media screen and (max-width: 852px) {
	.logo {
		top: 4rem;
		left: 5.2rem;
	}

	.logo svg {
		width: 14rem;
	}
}
