:root {
	--primary-dark: #050000;
	--primary-light: #fffaf3;
	--rose: #ffb5f9;
	--esmerald: #00a698;
	--yellow: #ffd44c;
	--blue: #2974ed;
	--orange: #ff6348;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'FuturaStd';
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

html {
	font-size: 10px;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
}

.selectable {
	pointer-events: all !important;
	cursor: pointer !important;
}

// FONTS

@font-face {
	font-family: 'FuturaStd';
	src: url('assets/fonts/Futura Std Bold.otf') format('opentype');
	font-weight: 700;
}

@font-face {
	font-family: 'FuturaStd';
	src: url('assets/fonts/Futura Std Medium.otf') format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'FuturaStd';
	src: url('assets/fonts/Futura Std Book.otf') format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'FuturaStd';
	src: url('assets/fonts/Futura Std Light.otf') format('opentype');
	font-weight: 300;
}


.container-loading {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes ldio-q2nyb5c78nn {
0% {
  transform: translate(-50%, -50%) rotate(0deg);
}
100% {
  transform: translate(-50%, -50%) rotate(360deg);
}
}
.ldio-q2nyb5c78nn div {
position: absolute;
width: 120px;
height: 120px;
border: 20px solid #e15b64;
border-top-color: transparent;
border-radius: 50%;
}
.ldio-q2nyb5c78nn div {
animation: ldio-q2nyb5c78nn 1s linear infinite;
top: 100px;
left: 100px;
}
.loadingio-spinner-rolling-io0ka7uk3oi {
width: 200px;
height: 200px;

display: inline-block;
overflow: hidden;
background: #ffffff;

position: static;
margin: 0;
left: 0;
right: 0;
top: 0;
bottom: 0;
}
.ldio-q2nyb5c78nn {
width: 100%;
height: 100%;
position: relative;
transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-q2nyb5c78nn div {
box-sizing: content-box;
}

.container-loading video {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.container-loading video source {
	display: none;
}
@media screen and (max-width: 1200px) {
	/* .container-loading video {
		height: 60vh;
	} */
}

@media screen and (min-width: 853px) {
	video source[src*="assets/UCHU.gif"] {
	  display: block;
	}
}

@media screen and (min-width: 853px) and (max-width: 1199px) {
    .container-loading video source[src*="assets/uchu_tablet.mp4"] {
        display: block;
    }
}

@media screen and (max-width: 852px) {

	/* .container-loading video {
		height: 38vh;
	} */
	.container-loading video source[src*="assets/uchu-mobile.mp4"] {
		display: block;
	}
}

