<main class="vision-body">
	<div class="vision-container">
		<section class="vision-top">
			<!--<h3>Visión</h3>-->

			<div class="up-container">
				<p class="up">
					<span>Trabajamos para impulsar</span>
					<span>el <strong>desarrollo y evolución</strong></span>
				</p>
			</div>

			<div class="down-container">
				<p class="down"><strong>de nuestros clientes.</strong></p>
			</div>
		</section>

		<section class="vision-bottom">
			<h3>Nuestros valores</h3>
			<div class="bottom-animation">
				<div class="roller">
					<h1>Innovación</h1>
					<h1 class="long-title">Sustentabilidad</h1>
					<h1>Equipo</h1>
				</div>
			</div>
			<h4>El camino para alcanzar tus metas</h4>
		</section>
	</div>
</main>
